### 示例2-3

In [2]:
symbols = "ABCGDSADJ***"
beyond_ascii = [ord(s) for s in symbols]
beyond_ascii

Wall time: 0 ns

[65, 66, 67, 71, 68, 83, 65, 68, 74, 42, 42, 42]

In [4]:
beyond_ascii = list(map(ord,symbols))
beyond_ascii

[65, 66, 67, 71, 68, 83, 65, 68, 74, 42, 42, 42]

### 示例2-4

In [5]:
colors = ["black",'white']
sizes = ["S","M","L"]

In [6]:
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [8]:
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

### 示例2-5

In [9]:
tuple(ord(symbol) for symbol in symbols)

(65, 66, 67, 71, 68, 83, 65, 68, 74, 42, 42, 42)

In [17]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [65, 66, 67, 71, 68, 83, 65, 68, 74, 42, 42, 42])

### 示例2-6

In [19]:
for tshirt in ("%s%s"%(c,s) for c in colors for s in sizes):
    print(tshirt)

blackS
blackM
blackL
whiteS
whiteM
whiteL

### 示例2-7

In [32]:
lax_coordinates = (33.9425, -118.408056)
city,year,pop,chg,area = ("Tokyo",2003,32450,0.66,8014)
traveler_ids = [("USA", "31195855"),("BRA", "CE342567"),("ESP","XDA205856")]

In [34]:
for passport in sorted(traveler_ids):
    print("%s/%s"%passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [35]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [38]:
k = 1,2
k

(1, 2)

In [39]:
a, *body,c = range(2)

In [40]:
a,body,c

(0, [], 1)

### 示例2-8

In [43]:
metro_areas = [
    ('Tokyo','JP',36.933,(35.689722,139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333,-99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611,-74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778,-46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude  <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 示例2-9

In [44]:
from collections import namedtuple
City = namedtuple("City", "name country population coordinates")
tokyo = City("Tokyo", "JP",36.933,(35.689722,139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [45]:
tokyo.population

36.933

In [46]:
tokyo.coordinates

(35.689722, 139.691667)

In [47]:
tokyo[1]

'JP'

### 示例2-10

In [48]:
City._fields

('name', 'country', 'population', 'coordinates')

In [49]:
LatLong = namedtuple("LatLong","lat long")

In [50]:
delhi_data = ("Delhi NCR", "IN",21.935,LatLong(28.613889,77.208889))

In [51]:
delhi = City._make(delhi_data)

In [58]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [54]:
for key, value in delhi._asdict().items():
    print(key+":",value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

### 示例 2-11

In [71]:
s = "bicycle"

In [73]:
s.__getitem__(slice(0,5,2))

'bcc'

In [75]:
s[slice(0,5,2)]

'bcc'

In [76]:
s[0:5:2]

'bcc'

In [79]:
import numpy as np

In [80]:
a = np.arange(50)

In [91]:
a = a.reshape(2,5,5)
a

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]]])

In [93]:
a[0:1,...]

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]]])

### 给切片赋值

In [100]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
l[2:5] = [20,30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [102]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [103]:
l[3::2] = [11,22]
l

[0, 1, 20, 11, 5, 22, 9]

In [104]:
l[2:5] = 100

TypeError: can only assign an iterable

In [105]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

In [107]:
l[2:4] = {"key":100}

In [108]:
l

[0, 1, 'key', 9]

In [109]:
l[2:3] = "100"
l

[0, 1, '1', '0', '0', 9]

In [111]:
l[2:3] = (100,100)
l

[0, 1, 100, 100, 100, '0', '0', 9]

In [115]:
type((100))

int

In [117]:
type((100,100))

tuple

### 对序列使用+和*

In [118]:
(100,100)*2

(100, 100, 100, 100)

In [119]:
l = [1,2,3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [125]:
5 * "abcd" + 6 * "1234"

'abcdabcdabcdabcdabcd123412341234123412341234'

In [135]:
a = [[]] * 3
a

[[], [], []]

In [136]:
a[0].append(1)

In [137]:
a

[[1], [1], [1]]

In [143]:
a[1][0] = 3
a

[[3], [3], [3]]

### 示例2-12

In [138]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [139]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

### 示例2-13

In [140]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [141]:
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [144]:
board = []
for i in range(3):
    row = ["_"] * 3
    board.append(row)
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [145]:
board[2][0] = "X"

In [146]:
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

### 序列的增量赋值

In [147]:
l = [1,2,3]
id(1)

140735893747488

In [148]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [149]:
id(1)

140735893747488

In [150]:
t = (1, 2, 3)
id(t)

3022404250624

In [151]:
t *= 2
id(t)

3022431907264

### 示例2-15

In [152]:
t = (1,2,[30,40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [153]:
t

(1, 2, [30, 40, 50, 60])

In [156]:
import dis

In [157]:
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

In [158]:
a = ["123","4564654"]

### list.sort方法和内置函数sorted

In [161]:
fruits = ['grape','raspberry','apple','banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [162]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [163]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [164]:
sorted(fruits, key = len)

['grape', 'apple', 'banana', 'raspberry']

In [165]:
sorted(fruits, key=len,reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [166]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [167]:
fruits.sort()

In [168]:
fruits

['apple', 'banana', 'grape', 'raspberry']

### 示例2-17

In [169]:
import bisect
import sys

In [170]:
HAYSTACK = [1,4,5,6,8,12,15,20,21,23,23,26,29,30]
NEEDLES = [0,1,2,5,8,10,22,23,29,30,31]
ROW_FMT = '{0:2d} @ {1:2d}     {2}{0:<2d}'

In [171]:
def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |'
        print(ROW_FMT.format(needle, position, offset))

In [172]:
if sys.argv[-1] == 'left':
    bisect_fn = bisect.bisect_left
else:
    bisect_fn = bisect.bisect
print("DEMO:", bisect_fn.__name__)
print("haystack->",' '.join("%2d" %n for n in HAYSTACK))
demo(bisect_fn)

DEMO: bisect_right
haystack->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14       |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14       |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13       |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11       |  |  |  |  |  |  |  |  |  |  |23
22 @  9       |  |  |  |  |  |  |  |  |22
10 @  5       |  |  |  |  |10
 8 @  5       |  |  |  |  |8
 5 @  3       |  |  |5
 2 @  1       |2
 1 @  1       |1
 0 @  0     0

### 示例2-18

In [173]:
def grade(score, breakpoints = [60,70,80,90],grades = "FDCBA"):
    i = bisect.bisect(breakpoints,score)
    return grades[i]

In [174]:
[grade(score) for score in [33,99,77,70,89,90,100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

### 示例2-19

In [175]:
import random

In [176]:
SIZE = 7
random.seed(1729)
my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print("%2d->"%new_item, my_list)

10-> [10]
 0-> [0, 10]
 6-> [0, 6, 10]
 8-> [0, 6, 8, 10]
 7-> [0, 6, 7, 8, 10]
 2-> [0, 2, 6, 7, 8, 10]
10-> [0, 2, 6, 7, 8, 10, 10]

In [177]:
SIZE = 7
random.seed(1729)
my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort_left(my_list, new_item)
    print("%2d->"%new_item, my_list)

10-> [10]
 0-> [0, 10]
 6-> [0, 6, 10]
 8-> [0, 6, 8, 10]
 7-> [0, 6, 7, 8, 10]
 2-> [0, 2, 6, 7, 8, 10]
10-> [0, 2, 6, 7, 8, 10, 10]

### 示例2-20

In [2]:
from array import array
from random import random

In [3]:
floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.676748808385264

In [4]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [5]:
floats2 = array('d')
fp = open("floats.bin", 'rb')
floats2.fromfile(fp,10**7)
fp.close()
floats2[-1]

0.676748808385264

In [6]:
floats2 == floats

True